*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container {
    position: relative;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 20px 50px rgba(0,0,0,0.2);
    height: 80vh;
    width: 50vh; 
    border-radius: 4vh;
    padding: 4vh 5vh 2vh;
    transform-style: preserve-3d;
}

.pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon img{
    width: 25vh;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 20vh;
    height: 20vh;
    background: linear-gradient(
        to right,
        rgba(255, 196, 0, 0.75),
        rgba(255, 96, 4, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.text{
    text-align: center;
}

.text h1 {
    margin-top: 2.5vh;
    text-align: center;
    font-size: 5vh;
    font-weight: 300;
}

.text h3 {
    justify-content: center;
    text-align: center;
    font-size: 2.4vh;
    color: #000000;
    font-weight: 200;
}

.buttons ul{
    display: flex;
    margin-top: 2.5vh;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    transition: all 0.75s ease-out;
}

.buttons ul li a{
    display: flex;
    padding: 1.5vh 3.5vh;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius: 20px;
    background: none;
    border: none;

    font-size: 1.5vh;
    text-decoration: none;
    font-weight: bold;
    color: rgb(116, 116, 116);

    cursor: pointer;
}

.buttons ul li a:hover{
    background: linear-gradient(
        to top,
        rgb(235, 235, 235) 5%,
        rgb(255, 255, 255) 100%
    );
}

.buttons ul li a:focus{
    background: linear-gradient(
        rgb(235, 235, 235) 5%,
        rgb(255, 255, 255) 100%
    );
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2), inset 0px 3px 6px rgba(0,0,0,0.2);
}